#accueil{
    display: flex;
}

h2, li{
    color: #F9F8FF;
}

#accueil{
    display: flex;
    justify-content: center;
}

#accueil-info{
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 150px;
}

#accueil-info a{
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

#mon-dernier-projet{
    background-color: #F9F8FF;
    /* margin: 0; */
}

#mon-dernier-projet h2{
    color: black;
    text-align: center;

    margin-bottom: 80px;
}

#mon-dernier-projet div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
   
}

/* form */
#formulaire{
    
    color: #F9F8FF;
    
}

#formulaire h2{
    color: #A5B4FC;
    text-align: center;
    margin-bottom: 80px;
}

form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
   
}

.form-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

#name-email{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}