a{
    color: black;
}

em{
    color: #A5B4FC;
}

h1{
    font-size: 3em;
    color: #A5B4FC;
    font-family: "Montserrat", sans-serif;
}

p{
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
}