*{
    margin: 0;
}

body{
    font-family: 'Manrope', sans-serif;
  font-size: 1em;
    background-color: #1F2039;
}

a{
    color: #242424;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

em{
    color: #A5B4FC;
    font-style: normal;
}

h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: "Montserrat", sans-serif;
}

p{
    font-size: 1.1em;
    color: #F9F8FF;
}

header, footer{
    background-color: white;
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.liens-nav{
    align-content: center;
}

.liens-nav a{
    margin-right: 100px;
}


section{
    padding: 80px;
}


.lien-icone:hover{
    opacity: 0.5;
}

footer{
    display: flex;
    justify-content: space-between;
}
